{% extends 'base.html' %}
{% block content %}
    <h1>Edit Transaction</h1>
    <!-- get the id from the url parameter-->
    <form action="/edit_transaction/{{ transaction_id }}" method="POST">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" value="{{ transaction.amount }}" required>
        <label for="category">Category:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.name }}" {% if transaction.category == category.name %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ transaction.description }}">
        <label for="transaction_type">Type:</label>
        <select id="transaction_type" name="transaction_type">
            <option value="Income" {% if transaction.__class__.__name__ == 'Income' %} selected {% endif %}>Income</option>
            <option value="Expense" {% if transaction.__class__.__name__ == 'Expense' %} selected {% endif %}>Expense</option>
        </select>
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}
