{% extends 'base.html' %}
{% block content %}
    <h1>Transactions</h1>
    <table>
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.__class__.__name__ }}</td>
                <td>
                    <a href="/edit_transaction/{{ loop.index0 }}">Edit</a>
                    <a href="/delete_transaction/{{ loop.index0 }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
